/* LogIn Component  */
.Login { 
  display: flex;
  border: 1px solid;
  height: 92vh;
  justify-content: center;
  align-items: center;
}
.Login form {
  display: flex;
  flex-direction: column;
}
.Login form input {
   margin-bottom: 20px;
}